App/StorageRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="StorageRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ticket" type="xs:string" />
				<xs:element name="DocumentType" type="xs:string" />
				<xs:element name="Binary" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>